<div class="content-indent {{ section.settings.top-offeset}}">
  <div class="{% unless section.settings.section_width %}page-width{% else %}fullwidth{% endunless %} wow fadeIn">

    {%- if section.settings.title != blank  or section.settings.subtitle != blank -%}
    <div class="sec-ttl {{ settings.title_align}}">
      <h3 class="h3">{{ section.settings.title }}</h3>
      {%- if section.settings.subtitle != blank -%}<span>{{section.settings.subtitle}}</span>{%- endif -%}                 
    </div>
    {% endif %} 

    <div class="insta-shop">
      {{ pages[section.settings.insta_page].content }}
    </div>

  </div>
</div>
{% schema %}
  {
    "name": "Instagram",
    "class":"index-section",
    "disabled_on": {
    "groups": ["header", "footer"]
    },
    "settings": [	  
     {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Describe your products, collection, content etc..."
      },
	 {
        "type": "page",
        "id": "insta_page",
        "label": "Select Page",
		"info":"[how to create page and add code](https://www.adornthemes.com/knowledge-base/add-instagram-shop-shopify/)"
      },	 
	 {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        }     
    ],   
    "presets": [
      {
        "name": "Instagram Shop"           
      }
    ]
  }
{% endschema %}
