<meta name="robots" content="noindex">
<div id="quickView" data-section-id="quickView" data-section-type="product" class="">
{%- liquid
    assign current_variant = product.selected_or_first_available_variant
    assign product_thumb_size = '480x'
    assign product_image_width = 'medium-up--one-half'
    assign product_description_width = 'medium-up--one-half'
    assign isSwatch = false
-%}

    <div class="grid product-single">
    <div class="grid__item pr_photoes {{ product_image_width }} mb0">
      {% comment %} product thumbs {% endcomment %}
          <div class="product-photos pr">
            <div class="grid product-photoslider">
              {% for image in product.images %}
                <div class="grid__item item" data-src="https:{{ image.src | img_url: 'master' }}"><img class="pr_thumb_img" src="{{ image.src | img_url: product_thumb_size }}" alt="{{ image.alt | escape }}"></div>
              {% endfor %}
            </div>
            
            <div class="product-btn fl f-col f-aic">     
              {%- if settings.enable_wishlist -%}<a class="wishlist addto-wishlist" href="{{pages[settings.wishlist_page].url}}" rel="{{ product.handle | handleize }}"><i class="at at-heart-l"></i><span class="tooltip-label left"><span class="msg">{{ 'products.wishlist.add_to_wishlist' | t}}</span></span></a>{%- endif -%}      
              {%- if product.metafields.my_fields.video != blank -%}<a href="{{product.metafields.my_fields.video}}" class="popup-video pr"><i class="at at-play-cir" aria-hidden="true"></i> <span class="tooltip-label">{{ 'products.product.video' | t }}</span></a>{%- endif -%}
            </div>
            {% if settings.pr_lbl %}
            <span class="pr_lbl {{ settings.select_label_style }}">
              {%- if settings.sale_lbl and product.compare_at_price > product.price -%}<label class="lbl on-sale">{{ 'products.product.on_sale' | t}}</label>{%- endif -%}
              {%- if product.tags contains settings.pr_label1 -%}<label class="lbl pr_lbl1">{{settings.pr_label1}}</label>{%- endif -%}
              {%- if product.tags contains settings.pr_label2 -%}<label class="lbl pr_lbl2">{{settings.pr_label2}}</label>{%- endif -%}
              {%- if product.tags contains settings.pr_label3 -%}<label class="lbl pr_lbl3">{{settings.pr_label3}}</label>{%- endif -%}
            </span>
            {% endif %}
            
          </div>      
        {% comment %} product full details link {% endcomment %}         
        {% if settings.show_view_full_info %}
        	<p class="tc mb0 mt10"><a href="{{product.url}}" class="view-full">{{ 'products.quickview.Show_view_full_details_button' | t }} <i class="at at-long-arrow-right"></i></a></p>
        {% endif %}
    </div>

    <div class="grid__item {{ product_description_width }}">
      <div class="pr_meta mb0">                                                        
        <h1 itemprop="name" class="pr_title mb15"><a href="{{product.url}}">{{ product.title }}</a></h1>        
         
         {%- if settings.show_product_review -%}<p class="review mb15">{% include 'ratings' %}</p>{%- endif -%}
        
        <div class="product-info mb10">
          {% if settings.show_product_vendor %}<p class="mb5"><span class="lbl">{{ 'products.product.vendor' | t }} </span> {{ product.vendor | link_to_vendor }}</p>{% endif %}  
          {% if settings.show_product_type %}<p class="mb5"><span class="lbl">{{ 'products.product.type' | t }}</span> {{ product.type }}</p>{% endif %} 
          {% if settings.show_product_sku %}
          {% if product.variants.first.sku != blank %}<p class="product-sku"><span class="lbl">{{ 'products.product.sku' | t }} </span>{{ product.variants.first.sku }}</p> {% endif %}          
          {% endif %}   
        </div>                
        {% comment %} price {% endcomment %} 
         {%- unless settings.catalog-mode -%} 
        <p class="pr_price_single mb15 pr_price_single-quickView">
          {% if current_variant.compare_at_price > current_variant.price %}
              <span class="pr_price pr_price-quickView pr_price_sale pr_price_sale_single">
                <span id="ProductPrice-quickView">{{ current_variant.price | money }}</span>            
              </span>
          	  <span class="hidden_txt">{{ 'products.product.regular_price' | t }}</span>
              <s id="ComparePrice-quickView" class="pr_price">{{ current_variant.compare_at_price | money }}</s>         
          {% else %}
             <span class="pr_price pr_price-quickView">
               <span id="ProductPrice-quickView">{{ current_variant.price | money }}</span>
               {% comment %}
               <span class="pr_price_sale_lbl hide">{{ 'products.product.on_sale' | t }}</span>
               {% endcomment %}
             </span>
          	 <span class="hidden_txt">{{ 'products.product.regular_price' | t }}</span>
         	 <s id="ComparePrice-quickView" class="pr_price hide">{{ current_variant.compare_at_price | money }}</s>         
          {% endif %}
        </p>
            
        {%- endunless -%} 
        
        {% comment %} short description {% endcomment %}
        {% if settings.show_short_desc %}
           <div class="pr_desc rte" itemprop="description">
            {%- assign meta = product.metafields.meta -%}
              {%- assign key = 'short_des' -%}
              {% if meta.short_des != blank %}
                {{ meta.short_des }}
              {% elsif product.empty? %}
                  {{ 'homepage.onboarding.product_description' | t }}
              {% else %}
                  {{ product.description | strip_html | truncatewords: 30 }}
              {% endif %}
           </div>
         {% endif %}       

        {%- assign product_form_id = 'product-form-quickView' -%}
        {%- capture "form_classes" -%}product-form-{{ product.id }} productForm{% if settings.show_swatch %} hide_dd{% endif %}{% if settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}{%- endcapture %}
        <product-form class="product-form db mb15">
            {%- form 'product', product, id: product_form_id, class: form_classes, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
        
            <div class="product-form mfp-link fl f-aie f-wrap mb10">
                {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
                  {%- for option in product.options_with_values -%}
                      {%- if settings.show_swatch -%}
                          {% assign isSwatch = true %}     
                          {% render 'swatch', swatch: option, secId: 'quickView', optindex: forloop.index0 %}
                      {%- else -%}
                          <div class="dd_wrap fl1 js pr_form_item mb20{% if settings.show_swatch %} dn{% endif %}">
                             <label {% if option.name == 'default' %}class="hidden_txt" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}</label>
                             <select class="single-option-selector single-option-selector-quickView pr_input selectbox" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                                {%- for value in option.values -%}
                                  <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                                {%- endfor -%}
                            </select>
                            </div>
                     {%- endif -%}
                {%- endfor -%}
                {% endunless %}

                <select name="id" id="ProductSelect-quickView" data-section="quickView" class="pr_variants selectbox no-js">
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                        {{ variant.title }}
                      </option>
                    {% else %}
                      <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              
           </div>  

        {%- unless settings.catalog-mode -%}
        <div class="fl f-aic mb15">
          <div class="pr_form_item_qnty mr20">
            <quantity-input class="qtyField pr_form_item_qnty" title="{{ 'products.product.quantity' | t }}">
                                <button type="button" class="qtyBtn minus" name="minus"><i class="at at-minus-r" aria-hidden="true"></i><span class="hidden">{{- 'general.quantity.decrease' | t: product: product.title | escape -}}</span></button>
                                <input type="number" id="quantity" name="quantity" value="1" min="{{ current_variant.quantity_rule.min }}" class="pr_input qty" step="{{ current_variant.quantity_rule.increment }}" />
                                <button type="button" class="qtyBtn plus" name="plus"><i class="at at-plus-r" aria-hidden="true"></i><span class="hidden">{{- 'general.quantity.increase' | t: product: product.title | escape -}}</span></button>
                            </quantity-input>
          </div>
            
          
           {% if settings.show_product_availability %}                                	{%- assign qtyMsg = 'products.product.quantity_message' | t | split: '{{items}}' -%}
          <span class="fl f-aic stockLbl instock{% unless current_variant.available and current_variant.inventory_quantity > settings.max_quantity %} hide{% endunless %}"><i class="at at-check-cil"></i><span> {{ 'products.product.available' | t }}</span></span>
          <span class="fl f-aic stockLbl preorder{% unless current_variant.available and current_variant.inventory_quantity < 1 %} hide{% endunless %}"><i class="at at-clock-r"></i><span> {{ 'products.product.pre_order' | t }}</span></span>
          <span class="fl f-aic stockLbl outstock{% if current_variant.available %} hide{% endif %}"><i class="at at-times-cil"></i> <span>{{ 'products.product.unavailable' | t }}</span></span>
          <span class="fl f-aic stockLbl lowstock{% unless current_variant.inventory_management == "shopify" and current_variant.inventory_quantity < settings.max_quantity and current_variant.inventory_quantity > 0 %} hide{% endunless %}" data-qty="{{settings.max_quantity}}"><i class="at at-exclamation-cil"></i><span> {{qtyMsg[0]}} <span class="items"> {{product.selected_or_first_available_variant.inventory_quantity}} </span> {{qtyMsg[1]}}</span></span>
          	<span class="prvQty hide" {%- for variant in product.variants -%}data-v{{ variant.id }}="{{variant.inventory_quantity}}"{%- endfor -%}></span>
          {%- endif -%}                   
        </div>               

        <div class="mb15">
          <button type="submit" name="add" id="AddToCart-quickView" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn pr_btn addtocart_js w_100 m0">
            {% if template contains 'pre-order' %}
            <span id="AddToCartText-quickView">{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.pre_order' | t }}{% endunless %}</span>
            {% else %}
            <span id="AddToCartText-quickView">{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}</span>
            {% endif %}
          </button>  
        </div>
        
        {%- endunless -%}
        {% endform %}
        </product-form>
      </div>
    </div>
  </div>
</div>

{% unless product.empty? %}<script type="application/json" id="ProductJson-quickView">{{ product | json }}</script>{% endunless %}
<script src="{{ 'quickview.js' | asset_url }}"></script>
<script>
    theme.productStrings = {
      	addToCart: {{ 'products.product.add_to_cart' | t | json }},
        preOrder: {{ 'products.product.pre_order' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
    }
  {% capture variantImg %}
	{%- if product.variants.size > 1 -%}
		var variantImages={},thumbnails,variant,variantImage,optionValue,productOptions = [];
		{%- for variant in product.variants -%}
			variant = {{ variant.featured_image.src | json }};
			if(typeof variant !== 'undefined' && variant !== null){
				variantImage =  variant.split('?')[0].replace(/http(s)?:/,'');
				variantImages[variantImage] = variantImages[variantImage] || {};
				{%- for option in product.options -%}
					{%- assign option_value = variant.options[forloop.index0] -%}
					{%- assign option_key = 'option-' | append: forloop.index0 -%}
					if(typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined'){
						variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
					} else {
						var oldValue = variantImages[variantImage][{{ option_key | json }}];
						if(oldValue !== null && oldValue !== {{ option_value | json }}){variantImages[variantImage][{{ option_key | json }}] = null;}
					}
				{%- endfor -%}
			}
			productOptions.push(variant);
		{%- endfor -%}
	{% else %}
		var variantImages = "";
	{%- endif -%}
	{% endcapture %}
	{{ variantImg | strip_newlines | remove: "  " | remove: "	" }}

var Shopify = Shopify || {};
	Shopify.optionsMap = {};
	Shopify.updateOptionsInSelector = function(selectorIndex){
	switch (selectorIndex){
        case 0:
            var key = 'root',
            selector = $('#{{ product_form_id }} {%- if isSwatch -%}.pvOpt0 .swatchInput:checked{%- else -%}.single-option-selector:eq(0){%- endif -%}');
            break;
        case 1:
            var key = $('#{{ product_form_id }} {%- if isSwatch -%}.pvOpt0 .swatchInput:checked{%- else -%}.single-option-selector:eq(0){%- endif -%}').val(),
            selector = $('#{{ product_form_id }} {%- if isSwatch -%}.pvOpt1 .swatchInput:checked{%- else -%}.single-option-selector:eq(1){%- endif -%}');
            break;
        case 2:
            var key = $('#{{ product_form_id }} {%- if isSwatch -%}.pvOpt0 .swatchInput:checked{%- else -%}.single-option-selector:eq(0){%- endif -%}').val();
            key += ' / ' + $('#{{ product_form_id }} {%- if isSwatch -%}.pvOpt1 .swatchInput:checked{%- else -%}.single-option-selector:eq(1){%- endif -%}').val();
            var selector = $('#{{ product_form_id }} {%- if isSwatch -%}.pvOpt2 .swatchInput:checked{%- else -%}.single-option-selector:eq(2){%- endif -%}');
    }
	var initialValue = selector.val();
	var availableOptions = Shopify.optionsMap[key];
	{%- if isSwatch -%}
		$('#{{ product_form_id }} .pvOpt'+selectorIndex+' .swatch-element').each(function(){
            
			if($.inArray($(this).data('value').toString(), availableOptions) !== -1){
				{% if hideSoldout %}$(this).removeClass('hide');{% else %}$(this).removeClass('soldout');{% endif %}
			} else {
				{% if hideSoldout %}$(this).addClass('hide');{% else %}$(this).addClass('soldout');{% endif %}
			}
		});
	{%- else -%}
		{% if hideSoldout %}
			selector.empty();
			for (var i=0; i<availableOptions.length; i++){
				var option = availableOptions[i];
				var newOption = $('<option></option>').val(option).html(option);
				selector.append(newOption);
			}
		 {% endif %}
	{%- endif -%}
	if($.inArray(initialValue, availableOptions) !== -1){
		selector.val(initialValue);
	}
	selector.trigger('change');
	};
	Shopify.linkOptionSelectors = function(product){
	for (var i=0; i<product.variants.length; i++){
		var variant = product.variants[i];
		if(variant.available){
			Shopify.optionsMap['root'] = Shopify.optionsMap['root'] || [];
			Shopify.optionsMap['root'].push(variant.option1);
			Shopify.optionsMap['root'] = Shopify.uniq(Shopify.optionsMap['root']);

			if(product.options.length > 1){
				var key = variant.option1;
				Shopify.optionsMap[key] = Shopify.optionsMap[key] || [];
				Shopify.optionsMap[key].push(variant.option2);
				Shopify.optionsMap[key] = Shopify.uniq(Shopify.optionsMap[key]);
			}
			if(product.options.length === 3){
				var key = variant.option1 + ' / ' + variant.option2;
				Shopify.optionsMap[key] = Shopify.optionsMap[key] || [];
				Shopify.optionsMap[key].push(variant.option3);
				Shopify.optionsMap[key] = Shopify.uniq(Shopify.optionsMap[key]);
			}
		}
	}
	Shopify.updateOptionsInSelector(0);
	if(product.options.length > 1) Shopify.updateOptionsInSelector(1);
	if(product.options.length === 3) Shopify.updateOptionsInSelector(2);
	$("#{{ product_form_id }} {% if isSwatch %}.pvOpt0 .swatchInput{% else %}.single-option-selector:eq(0){% endif %}").change(function(){
		Shopify.updateOptionsInSelector(1);
		if(product.options.length === 3) Shopify.updateOptionsInSelector(2);
		return true;
	});
	$("#{{ product_form_id }} {% if isSwatch %}.pvOpt1 .swatchInput{% else %}.single-option-selector:eq(1){% endif %}").change(function(){
		if(product.options.length === 3) Shopify.updateOptionsInSelector(2);
		return true;
	});
	};
	{%- if product.available and product.options.size > 1 -%}
		var $addToCartForm = $('form[action="/cart/add"]');
		if(window.MutationObserver && $addToCartForm.length){
			if(typeof observer === 'object' && typeof observer.disconnect === 'function'){
				observer.disconnect();
			}
			var config = { childList: true, subtree: true };
			var observer = new MutationObserver(function(){
				observer.disconnect();
			});
			observer.observe($addToCartForm[0], config);
		}
		Shopify.linkOptionSelectors(JSON.parse(document.getElementById('ProductJson-quickView').innerHTML));
	{%- elsif product.options.size == 1 -%}
	window.addEventListener('DOMContentLoaded',function(){
		{%- for variant in product.variants -%}
			{%- unless variant.available -%}
				//$('.single-option-selector option').filter(function(){ return $(this).html() === {{ variant.title | json }}; }).remove();
				$(".swatch-element[data-value='{{ variant.title | escape }}']").addClass('soldout');
			{%- endunless -%}
		{%- endfor -%}
		$('.single-option-selector').trigger('change');
	});
	{%- endif -%}
</script>
{% schema %}
  {
    "name": "quick-view",
    "class": "w_100",
    "settings": []
  }
{% endschema %}
